{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>User Profile</title>
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="profile-info">
                <p><strong style="color: black;">Username:</strong> <span style="color: black;">{{ user.username }}</span></p>
                <p><strong style="color: black;">Email:</strong> <span style="color: black;">{{ user.email }}</span></p>
                <a href="{% url 'logout' %}" class="logout-link"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>
    </div>            
        </div>
    </header>
    
    <div class="container mt-4">
        
    
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            
            <label for="upload_directory">Select Directory:</label>
            <select name="upload_directory" id="upload_directory" required>
                {% for directory in directories %}
                    <option value="{{ directory.id }}">{{ directory.name }}</option>
                {% endfor %}
            </select>
            
            <button type="submit" class="btn btn-primary"><i class="fas fa-cloud-upload-alt"></i> Dosya Yükle</button>
        </form>

        <form method="post">
            {% csrf_token %}
            <label for="new_directory">Create New Directory:</label>
            <input type="text" name="new_directory" id="new_directory" required>
            <button type="submit" name="action" value="create_directory" class="btn btn-success"><i class="fas fa-folder-plus"></i> Create Directory</button>
        </form>
        
        <form method="post">
            {% csrf_token %}
            <label for="delete_directory">Delete Directory:</label>
            <select name="delete_directory" id="delete_directory" required>
                {% for directory in directories %}
                    <option value="{{ directory.id }}">{{ directory.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" name="action" value="delete_directory" class="btn btn-danger"><i class="fas fa-folder-minus"></i> Delete Directory</button>
        </form>

        <form method="get">
            <input type="checkbox" name="show_encrypted" id="show_encrypted" {% if request.GET.show_encrypted %}checked{% endif %}>
            <label for="show_encrypted">Show Encrypted Files</label>
            <button type="submit" class="btn btn-primary"><i class="fas fa-filter"></i> Filter</button>
        </form>
    
        <div class="uploaded-files mt-4">
            <h3>Yüklenen tüm dosyalar</h3>
            {% if user_files %}
                <ul class="file-list">
                    {% for file in user_files %}
                        <li class="file-item">
                            <a href="{{ file.file.url }}" class="file-link">{{ file.file.name }}</a>
                            <div class="file-buttons">
                                <button class="btn btn-success download-file" data-file-url="{{ file.file.url }}" data-encryption-key="{{ file.encryption_key }}" data-encryption-algorithm="{{file.encryption_algorithm}}"><i class="fas fa-download"></i> Download</button>
                                <button class="btn btn-danger delete-file" data-file-id="{{ file.id }}"><i class="fas fa-trash-alt"></i> Delete</button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Henüz dosya yüklenmedi.</p>
            {% endif %}
        </div>
        <hr>
        <br><br>

    
        {% for directory, files in files_by_directory.items %}
            <div class="directory uploaded-files mt-4">
                <h3>{{ directory.name }}</h3>
                {% if files %}
                    <ul class="file-list">
                        {% for file in files %}
                            <li class="file-item">
                                <a href="{{ file.file.url }}" class="file-link">{{ file.file.name }}</a>
                                <div class="file-buttons">
                                    <button class="btn btn-success download-file" data-file-url="{{ file.file.url }}" data-encryption-key="{{ file.encryption_key }}" data-encryption-algorithm="{{file.encryption_algorithm}}"><i class="fas fa-download"></i> Download</button>
                                    <button class="btn btn-danger delete-file" data-file-id="{{ file.id }}"><i class="fas fa-trash-alt"></i> Delete</button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Bu dizine dosya yüklenmedi.</p>
                {% endif %}
            </div>
        {% endfor %}

        {% for directory, files in files_by_directory.items %}
    <div class="directory mt-4">
        <h3>{{ directory.name }}</h3>
        {% if files %}
            <ul class="file-list">
                {% for file in files %}
                    <li class="file-item">
                        <a href="{{ file.file.url }}" class="file-link">{{ file.file.name }}</a>
                        <div class="file-buttons">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="move_file">
                                <input type="hidden" name="file_id" value="{{ file.id }}">
                                <label for="new_directory">Move to:</label>
                                <select name="new_directory_id" required>
                                    {% for target_directory in directories %}
                                        <option value="{{ target_directory.id }}">{{ target_directory.name }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary">Move</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Taşınacak bir dosya yok.</p>
        {% endif %}
    </div>
{% endfor %}
    </div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script> <!-- Font Awesome JS CDN -->
</body>

</html>